<div class="row">
  <div class="col s12 m4 l6" *ngFor="let event of events">
    <div class="card hoverable">
      <div class="card-content center-align">
        <span class="card-title">{{ event.title }}</span>
        <span>{{ event.about }}</span>

      <span class="badge" data-badge-caption="in stock">
        {{ event.registered | date: 'shortDate' }}
      </span></div>
      <div class="card-action">
        <a href="#" class="btn waves-effect waves-light">Buy</a>

      </div>
    </div>
  </div>
</div>
