.login-component {
  font-weight: lighter;
  font-size: 1.2rem;
  padding: 2em 1em;
  color: #999;
  display: flex;
  justify-content: center;
}
.card-light {
  background-color: #f5f2f0;
}
.card-title__register-form {
  margin-bottom: 2rem!important;
}
.card-title {
  color: #a4a4a4;
}
.card-content>ul>li{
  font-weight: lighter;
  line-height: 2;
  padding-top: 1em;
  letter-spacing: 1px;
  color: #999;
}
