<nav>
  <div class="nav-wrapper">
    <a href=# class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/events" routerLinkActive="active">Events</a></li>
      <li><a routerLink="/special" routerLinkActive="active">Special</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
    </ul>
  </div>
</nav>
<div class="container">
<div class="main-title">{{ appTitle }}</div>
</div>

<div class="container">
<router-outlet></router-outlet>
</div>
