.main-title {
  font-weight: lighter;
  font-size: 1.2rem;
  padding: 1rem;
  color: #999;
  display: flex;
  justify-content: center;
}
.brand-logo {
  padding: 0 5rem;
}
.nav-container {
  width:85%;
  float: right;
  margin-right: 3em;
}

@media only screen and (max-width: 1300px) {
  .nav-container {
    width:80%
  }
}
